/*
body
{
  font-family: 'Crimson Text', serif;

}original color for heading 
#ff0019;
*/
@media screen and (max-width: 600px) {
  div.example {
    font-size: 13px;
  }
  h1,h2,h3,h4,h5,h6{
    font-size: 15px;
  }
}
img{
  border-radius: 3px;
}
h1,h2,h3,h4,h5,h6
{
  font-weight: 700;
  color:black;
}
h5:hover{
  transition: 0.3s;
  color: blue;
}
h6:hover{
  transition: 0.3s;
  color: blue;
}

body{
  font-family: 'Montserrat', sans-serif;
  background-color: #fffcf2;
}
a{
  color: #007bff;
}

input{
  background-color: #1F2833 !important;
  color: #66FCF1 !important;
}


.navbar{
  background-color: #000C10;
}
.navbar-brand, .footer-logo{
  font-weight: 700;
  font-size: 1.5rem;
}

.btn-main{
  background-color: #66FCF1 !important;
  color: #0B0C10 !important;
}

/* HERO SECTION   background-color: #1F2833; */

/*
.hero{
  background-color: #0B0C10; 
  color: white;
}
*/
/*
.hero-post-badges
{
  position: absolute;
  top: 10px;
  right: 20px;
}

.hero-post-badges>a{
  display: block;
  background-color: #0B0C10;
  color: #66FCF1;
}
*/
/*
.blog-posts{
  background-color: #0B0C10;
  color: #C5C6C7;
}
*/
/*
.blog-post{
  background-color: #1F2833;
}
*/


/* For left border of posts#d6dce0;*/
.blog-post .col-sm-8{
  border-left: 3px solid #66FCF1;
}
.blog-post:hover{
  transition: 0.5s;
  background-color: rgb(240,240,240);
}
.author:hover{
  transition: 0.5s;
  background-color: rgb(240,240,240);
}
/* for size of paragraphs
.blog-post p{
  font-size: 0.9rem;
}
*

/* badges , for provideing space between them*/
.badges
{
  margin-top: 1rem;
}
.badges>a
{
  margin-right:0.5rem;
  
}
.badges{
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
}
.badges>a{
  margin-left: 0.5rem;
  margin: 0.2rem;
  padding: 0.1rem;
  padding-left: 0.7rem;
  padding-right: 0.7rem;
  background-color: #f05169;
  color: #0B0C10;
  border-radius: 17px;
}
.badges>a:hover {
  transition: 0.5s;
  text-decoration: none;
  background-color: black;
  color: white;
}
/*
  background-color: #28a745;    Aside */ 


.social-f{
  color: #3b5998;
  font-size: 4rem;
}
.social-t{
  color: #38A1F3;
  font-size: 4rem;
}
.social-y{
  color: #FF0000;
  font-size: 4rem;
}

.social-link-author-f
{
  color: #3b5998;
}
.social-link-author-t
{
  color: #38A1F3;
}
.social-link-author-y
{
  color: #FF0000;
}
/*
.aside-heading{
  border-left:3px solid #66FCF1;
}

*/
.editor-pick>h2{
  color: #ff0019;
}
/* Popular Badges */
.popular-badges{
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.popular-badges>a{
  margin-left: 0.5rem;
  display: inline-block;
  margin: 0.2rem;
  padding: 0.5rem;
  background-color: #4aa1f3;
  color: #0B0C10;
  border-radius: 5px;
}
.popular-badges>a:hover {
  transition: 0.6s;
  text-decoration: none;
  background-color: black;
  color: white;
}

/* Footer section */
 /*
.footer{
  background-color: #1F2833;
  color: #C5C6C7;
}*/
